<page xmlns="http://projectmallard.org/1.0/"
      xmlns:its="http://www.w3.org/2005/11/its"
      type="topic"
      id="archive">

  <info>
    <link type="guide" xref="index#tasklists"/>
  </info>

  <title>Archive a task list</title>


  <steps>
    <item><p>Navigate to your task list.</p></item>
    <item><p>Open the menu on the right side of the headerbar.</p></item>
    <item><p>Click on the <gui style="button">Archive</gui> button to archive your task list.</p></item>
  </steps>

  <p>You can access your archived task lists through the <gui>Archived</gui> category in the utility pane.</p>
  <p>From there you can unarchive them:</p>

  <steps>
    <item><p>Open the menu on the right side of the headerbar.</p></item>
    <item><p>The <gui style="button">Unarchive</gui> button moves your task list again to all others.</p></item>
  </steps>

</page>
