<page xmlns="http://projectmallard.org/1.0/"
      xmlns:its="http://www.w3.org/2005/11/its"
      type="topic"
      id="assign_color">

  <info>
    <link type="guide" xref="index#tasklists"/>
  </info>

  <title>Assign a color to a task list</title>

  <steps>
    <item><p>Navigate to your task list.</p></item>
    <item><p>Open the menu (<media its:translate="no" type="image" src="figures/view-more-symbolic.svg"></media>) on the right side of the headerbar.</p></item>
    <item><p>Choose one of the given colors by clicking on them.</p></item>
  </steps>

</page>
