<page xmlns="http://projectmallard.org/1.0/"
      xmlns:its="http://www.w3.org/2005/11/its"
      type="guide"
      id="index">

  <info>
    <desc>Endeavour is a simple app, with that you can create, process and manage your tasks, to raise your productivity. Also you can synchronize your tasks through your online accounts, so you can check them on all your devices.</desc>
  </info>

  <title>
    <media type="image" its:translate="no" src="figures/org.gnome.Todo.svg" width="48" height="48"></media>
    <span>Endeavour</span>
  </title>

  <p>A simple to-do app for GNOME.</p>

  <section id="start" style="2column">
    <title>Getting Started</title>
  </section>

  <section id="task" style="2column">
    <title>Manage Tasks</title>
  </section>

  <section id="tasklists" style="2column">
    <title>Manage Task Lists</title>
  </section>

  <section id="prob" style="2column">
    <title>Common Problems</title>
  </section>

  <section id="contribute" style="2column">
    <title>Contributing and getting support</title>
  </section>
</page>
